body {
    font-family: 'Montserrat', sans-serif;
    background-color: #FFE4E6;
    background-image: radial-gradient(circle, #FFC1CC 1px, transparent 1px);
    background-size: 20px 20px;
    margin: 0;
    color: #3D2D3D;
}

.container {
    max-width: 900px;
    margin: 50px auto;
    padding: 20px;
}

.section {
    background: #FFF5F7;
    padding: 20px;
    border-radius: 15px;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: 2px dashed #FFAFBD;
    text-align: center;

    transition: transform 0.2s ease-out;
}

.section:hover {
    transform: scale(1.05);
}

.section h2 {
    font-weight: 600;
    font-size: 1.8rem;
    color: #D81B60;
    margin-bottom: 15px;
}

.section p {
    line-height: 1.6;
    font-size: 1rem;
    margin-bottom: 10px;
    color: #4A4A4A;
}

textarea {
    width: 80%;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #FFC1CC;
    font-size: 1rem;
    margin-bottom: 10px;
    resize: none;
}

textarea:focus {
    outline: none;
    border-color: #D81B60;
    box-shadow: 0 0 5px #FF4081;
}

button {
    background-color: #FF4081;
    color: white;
    font-size: 1rem;
    font-weight: bold;
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #D81B60;
}

@media (max-width: 768px) {
    .container {
        width: 90%;
        padding: 10px;
    }

    .section {
        padding: 15px;
    }
}
