/* Reset styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Montserrat, sans-serif;
  background-color: #000;
  color: #fff;
  overflow-y: scroll;
  height: 100vh;
}

/* Extremely long scrolling background */
.background {
  position: relative;
  height: 55000vh; /* Even longer! */
  width: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

/* Milestones styles */
.milestone {
  position: absolute;
  width: 100%;
  text-align: center;
  padding: 2rem 1rem;
}

.milestone h1, .milestone h2 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
}

.milestone p {
  font-size: 1.5rem;
  margin-top: 10px;
  font-style: italic;

}

@keyframes twinkling {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-10px);
  }
}
